source-art/
assets/*.zip
assets/history/glTF/*
!assets/history/glTF/Viking_Male.gltf
!assets/history/glTF/Kimono_Male.gltf
!assets/history/glTF/Ninja_Male.gltf
!assets/history/glTF/Knight_Golden_Male.gltf
!assets/history/glTF/Soldier_Male.gltf
!assets/history/glTF/Worker_Male.gltf
!assets/history/glTF/Worker_Female.gltf
!assets/history/glTF/Knight_Male.gltf
!assets/history/glTF/BlueSoldier_Male.gltf
assets/animals/*
!assets/animals/Sheep.glb
assets/nature/*
assets/*.zip
