source-art/
assets/*.zip
assets/history/glTF/*
!assets/history/glTF/Viking_Male.gltf
!assets/history/glTF/Kimono_Male.gltf
!assets/history/glTF/Ninja_Male.gltf
!assets/history/glTF/Knight_Golden_Male.gltf
!assets/history/glTF/Soldier_Male.gltf
!assets/history/glTF/Worker_Male.gltf
!assets/history/glTF/Worker_Female.gltf
!assets/history/glTF/Knight_Male.gltf
!assets/history/glTF/BlueSoldier_Male.gltf
assets/animals/*
!assets/animals/Sheep.glb
assets/nature/*
assets/*.zip
WORKLOG.md
!assets/med/neutral/wall_straight.gltf
!assets/med/neutral/wall_straight.bin
!assets/med/neutral/wall_straight_gate.gltf
!assets/med/neutral/wall_straight_gate.bin
!assets/animals/Horse.glb
!assets/animals/White Horse.glb

assets/worker-Meiya_pbr.glb
assets/woodcutter_hut.glb
assets/*.exe
*.blend
*.blend1
